.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 10px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 10px !important;
}

.css-1yhpg23-MuiTableCell-root {
  padding: 7px !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 1px !important;
}